body{
    background-color: #e5e5e5;
    cursor: pointer;
}
.outerclock{
    width: 350px;
    height: 350px;
    background-color: #e5e5e5;
    box-shadow: 6px 6px 8px gray,-6px -6px 8px white;
    position: relative;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 50%;
}
.innerclock{
    width: 280px;
    height: 280px;
    position: absolute;
    top:10%;
    left:10%;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    border-radius: 50%;   
    background-size: cover; 
}
.circle{
    width: 20px;
    height: 20px;
    position: absolute;
    top:46%;
    left:46%;
    border-radius: 50%;
    background-color: black;
    z-index: 4;
}
#hour{
    width: 10px;
    height: 75px;
    background-color: #00E5FF;
    position: absolute;
    top:24%;
    left: 47%;
    border-radius: 50% 50% 0px 0px;
    transform-origin: bottom;
    z-index: 2;
}
#min{
    width: 8px;
    height: 11px;
    background-color: green;
    position: absolute;
    top:11%;
    left: 47%;
    border-radius: 50% 50% 0px 0px;
    transform-origin: bottom;
    z-index: 1;
}
#sec{
    width: 5px;
    height: 120px;
    background-color: red;
    position: absolute;
    top:8%;
    left: 48%;
    border-radius: 50% 50% 0px 0px;
    transform-origin: bottom;
    z-index: 3;
}
.time p{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px gray;
}
.time p:nth-child(1){
    position: absolute;
    left: 44%;
    top:-19%;
}
.time p:nth-child(2){
    position: absolute;
    left: -8%;
    top:38%;
}
.time p:nth-child(3){
    position: absolute;
    left: 49%;
    top: 92%;
}
.time p:nth-child(4){
    position: absolute;
    left: 102%;
    top:38%;
}
